@import "constants.styl"
@import "mixins.styl"


@media (prefers-color-scheme: dark) {
  body {
    background: #f5efe0;
    color: #000;
  }
  code,
  kbd,
  samp {
    background: rgba(0, 0, 0, 0.075);
    border-radius: 0.2rem;
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    top: 2px;
    display: inline-block;
    margin: 0;
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border-radius: 0;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #dcd7ca;
    box-shadow: none;
    cursor: pointer;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border-radius: 0;
    border-style: solid;
    border-width: 0.1rem;
    box-shadow: none;
    display: block;
    font-size: 1.6rem;
    letter-spacing: -0.015em;
    margin: 0;
    max-width: 100%;
    padding: 1.5rem 1.8rem;
    width: 100%;
  }

  button,
  .button,
  .faux-button,
  .wp-block-button__link,
  .wp-block-file .wp-block-file__button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #cd2653;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.0333em;
    line-height: 1.25;
    margin: 0;
    opacity: 1;
    padding: 1.1em 1.44em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 0.15s linear;
  }
  caption {
    background: #dcd7ca;
    font-weight: 600;
    padding: 0.5em;
    text-align: center;
  }
  #site-header {
    background: #fff;
    position: relative;
  }
  .primary-menu ul {
    background: #000;
    border-radius: 0.4rem;
    color: #fff;
    font-size: 1.7rem;
    opacity: 0;
    padding: 1rem 0;
    position: absolute;
    right: 9999rem;
    top: calc(100% + 2rem);
    transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
    transform: translateY(0.6rem);
    width: 20rem;
    z-index: 1;
  }

  .menu-modal {
    background: #fff;
    display: none;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
    left: -99999rem;
    right: 99999rem;
    top: 0;
    transition: opacity 0.25s ease-in, left 0s 0.25s, right 0s 0.25s;
    z-index: 99;
  }

  .menu-modal-inner {
    background: #fff;
    display: flex;
    justify-content: stretch;
    overflow: auto;
    -ms-overflow-style: auto;
    width: 100%;
  }

  .search-modal {
    background: rgba(0, 0, 0, 0.2);
    display: none;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: -9999rem;
    top: 0;
    transition: opacity 0.2s linear, left 0s 0.2s linear;
    width: 100%;
    z-index: 999;
  }

  .search-modal-inner {
    background: #fff;
    transform: translateY(-100%);
    transition: transform 0.15s linear, box-shadow 0.15s linear;
  }

  .archive-header {
    background-color: #fff;
    padding: 4rem 0;
  }

  .singular .entry-header {
    background-color: #fff;
    padding: 4rem 0;
  }

  .singular .featured-media::before {
    background: #fff;
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    top: 0;
  }

  :root .has-accent-background-color {
    background-color: #cd2653;
    color: #fff;
  }

}
